<h1>Write Message</h1>
  <%=form_tag '/sending' %>
    <input type="hidden" name="user_id" value="<%=current_user.id%>">
    <input type="hidden" name="receiver_id" value="<%=@user_id.id%>">
    To. <input type="text" name="receiver_name" value="<%=@user_id.name%>"><br><br>
    <textarea name="content" rows="5" cols="30"></textarea>
    <input type="submit">
  </form>