<div class="container">
  <p>
    <h1>내 메시지함</h1>
      <form action="/sendm">
        <input type="submit" class="btn btn-default" value="보낸 메시지">
      </form>
      <br>
      <form action="/sentm">
        <input type="submit" class="btn btn-default" value="받은 메시지">
      </form>
  </p>
</div>
