<div class="container">
  <p>
    <h1>받은 메시지 Detail</h1><br>
      <h4>
        From. <%=User.find(@sentm_detail_message.sender).name%><br><br>
        : <%=@sentm_detail_message.content%>
      </h4>
  </p>
</div>
