<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1><font size="5">Name:peter</br>Age:21</br>abcderffff@gmail.com</b> Hobby:soccer</font></h1>
    </div>
    <div class="col-md-8 images">
      <img src="/img/pe.jpg" class="img-rounded" style="width:200px; margin:auto 0;">
      <img src="/img/me.jpg" class="img-rounded" style="width:50px; vertical-align:bottom;">
    </div>
  </div>

  <div class="intro-text">
    <hr class="star-light">
    <div class="row">
      <div class="col-md-1 images">
        <img src="/img/cana.png" class="img-rounded" style="width:40px; margin: 0 auto;">
      </div>
      <div class="col-md-4">
        <a href="https://snuexchange-tjdgh9340.c9users.io/index.html" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">가르칠 언어</span></a>영어(수준 상급)
      </div>
      <div class="col-md-4">
        <a href="https://snuexchange-tjdgh9340.c9users.io/index.html" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">배우고 싶은 언어</span></a>한국어(수준 초급)
      </div>
      <div class="col-md-3">
        <a href="https://snuexchange-tjdgh9340.c9users.io/index.html" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">카카오톡 아이디</span></a>snupeter
      </div>
    </div>

    <div class="skills" style="border: 1px solid #ccc; padding: 10px;">
      Hello. 안녕하세요. My name is Peter. Iam from Totonto university in canada. I am 22 years old. i am studying business and i usually have classed at 58 dong in SNU. i am interested in learning korean. i can read and write little of korean but i cannot speak and listen well. i want to find the language partner in snuexchang. i can teach english and i want to lean korean. i hope to get your message so on.
    </div>
  </div>
  <div class="intro-text">
    <div class="name" style="text-align: center">●Korean language Level 3 교재로 수업요망</br>
      ●TOEFL Speaking Actual Test 교재 사용 예정</p>
    </div>
    <hr class="tagline-divider commentintro">
    <h2>
      <strong>코멘트 달기</strong>
      </small>
    </h2>
  </div>
</div>
</div>
<div class="container comment">
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <img src="/img/ha.jpg" class="img-rounded" style="display: block; width:200px; margin: 0 auto;">
      </a>
    </div>
    <div class="col-md-3">
      <h3>Alex</h3>
      <h4>dddddssssss@<gmail class="com"></gmail></h4>
      <p>peter는 정말착한거같아요. 처음 한국에와서 모르고 힘든일이 너무 많았는데 peter 가 정말 많이 도와줬어요</p>
      <a class="btn btn-primary" href="#">View details<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <img src="/img/alec.jpg" class="img-rounded" style="display: block; width:200px; margin: 0 auto;">
      </a>
    </div>
    <div class="col-md-3">
      <h3>Alec</h3>
      <h4>dddd&&&777@gmail <class="com"></gmail></h4>
      <p>저희 축구팀 주장인 피터는 성실하고 축구도 너무 잘해요</p>
      <a class="btn btn-primary" href="#">View details <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  </br>
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <img src="/img/hanna.jpg" class="img-rounded" style="display: block; width:200px; margin: 0 auto;">
      </a>
    </div>
    <div class="col-md-3">
      <h3>Hanna</h3>
      <h4>ddddd@gmail.com</h4>
      <p>peter는 정말 착하고 열심히 공부를하는것같아요. 저랑 같은 통계수업을 듣는데 정말 많은것을 알려줘요.</p>
      <a class="btn btn-primary" href="#">View details <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>
<br>
</div>


<!-- /.container -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>snuexchang.2015.</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
  interval: 5000 //changes the speed
})
</script>
