<div class= "container1 col-xs-11">
            <h1>자기소개작성</h1>
            
            <%=form_tag '/update', method: 'post' do %>
                <input type="hidden" name="id" value="<%= @users.id %>">
                <div class="form-group">
                    <textarea name="naeyong" placeholder="자기소개를 작성해주세요" class="form-control" rows="2"></textarea>
                </div>
               
                <div class="form-group">
                     <input type="submit" class="btn btn-success">
                </div>
               
                    <br>
                     
            <% end %>
</div>
