<div class= "container1 col-xs-11">
            <h1><%= t :plan %></h1>
            
            <%=form_tag '/update2', method: 'post' do %>
                <input type="hidden" name="id" value="<%= @users.id %>">
                <div class="form-group col-lg-6">
                    <textarea name="plan" rows="10" cols="50"></textarea>
                </div>
               
                <div class="form-group">
                     <input type="submit" class="btn btn-success" value=<%= t :modify %>>
                </div>
               
                    <br>
                     
            <% end %>
</div>
