<body>
<div class="container">
<div class="row">
<div class="col-md-7">
  <h3>언어교환 </h3>
  </div>
  </div>
  </div>
  <br>
  

  <div class="container">

  <div class="btn-group">
      
    <form action="/filtering">

        <select name="learn">
          <li><option value="">배우고 싶은 언어</option>
          <option value="korean">한국어</option>
          <option value="english">영어</option>
          <option value="chinese">중국어</option>
          <option value="spanish">스페인어</option>
        </select>
      
        <select name="teach">
          <option value="">가르치고 싶은 언어</option>
          <option value="korean">한국어</option>
          <option value="english">영어</option>
          <option value="chinese">중국어</option>
          <option value="spanish">스페인어</option>
        </select>

           <select name="sex">
          <option value="">성별</option>
          <option value="male">남자</option>
          <option value="female">여자</option>
          <option value="default">상관 없음</option>
        </select>
        
        <input type="submit">
        
    </form>
   </div>
 </div>
    
 
    
<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
        
          
          <!--/stories-->
		  <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="/img/profiles/cook_hero.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Tim Cook</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>Hello! I am the current CEO of Apple and will be attending SNU 
                  business school starting fall of 2016, hope to make new friends and sell some
                  more iPhones! Please feel free to have dinner with me even if you use Samsung.</p>
               
                  <p class="lead"><button class="btn btn-default">프로필 보기</button>
                  
                  
                
                  <ul class="list-inline"><li><a href="#"><b>Knows:</b> English (Native) </a></li><li><a href="#"><b>Learning:</b> Korean (Basic) </a></li>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
                  
		  <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="/img/profiles/taylor.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Taylor Swift</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>Hi I am international country artist Taylor Swift, I love playing the guitar
                  and I am super rich! I'll buy you all kinds of food, just dont try to be my boyfriend because I have 
                  lots of boyfriends.</p>
                  <p class="lead"><button class="btn btn-default">프로필 보기</button></p>
                  
                  <ul class="list-inline"><li><a href="#"><b>Knows:</b> English (Native) </a></li><li><a href="#"><b>Learning:</b> Korean (Basic), Japanese (Fluent) </a></li>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="/img/profiles/messi.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Lionel Messi</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>Hello My name is Lionel Messi! You can call me Leo. I am the
                  best footballer in the world, dont tell Cristiano. Let's meet up and play some football together! 1 vs 11.</p>
                  <p class="lead"><button class="btn btn-default">프로필 보기</button></p>
                
                  <ul class="list-inline"><li><a href="#"><b>Knows:</b> Spanish (Native) </a></li><li><a href="#"><b>Learning:</b> English (Basic), Korean (None) </a></li>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-img" href="#"><img src="/img/profiles/miranda.png" style="width:100px;height:100px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Miranda Kerr</h3>
              <div class="row">
                <div class="col-xs-9">
                  <p>Hello my name is Miranda Kerr. Im pretty and you know it. I really want a Korean boyfriend! I love kpop.</p>
                  <p class="lead"><button class="btn btn-default">프로필 보기</button></p>
                 
                  <ul class="list-inline"><li><a href="#"><b>Knows:</b> English (Native), German (Native) </a></li><li><a href="#"><b>Learning:</b> Korean (Fluent) </a></li>
                  </div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <!--/stories-->
          
          
          
        
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Copyright 2015 스누익스체인지</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>