<div class="container">
    <div class="row">
     <h1 align="center">Test's Profile</h1>
     <br>
        <div class="profilebox">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row profileimg"><img src="/img/pe.jpg" class="img-rounded" style="width:200px"></div>
                    <br>
                    <div class="row profileimg"><input type="submit" class="btn btn-default" value="메세지 보내기"></div>
                </div>
                
                <div class="col-sm-6">
                    <div class="row"><span class="profileinfo">성별</span>: <i class="fa fa-mars fa-2x"></i></div>
                    <br>
                    <div class="row"><span class="profileinfo">가르칠 언어</span>: <span class="profiletext"><%=@users.language_speak%></span></div>
                    <br>
                    <div class="row"><span class="profileinfo">배우고 싶은 언어</span>: <span class="profiletext"><%=@users.language_learn%></span></div>
                    <br>
                    <div class="row"><span class="profileinfo">카카오톡 ID</span>: <span class="profiletext">MEMEMEME</span></div>
                    <br>
                    <div class="row"><span class="profileinfo">수업 요망</span>: <span class="profiletext">재밌게!</span></div>
                </div>
            </div>
            <br><br>

                 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Test's Profile</h3>
                </div>
                    <div class="panel-body">
                         Hello. 안녕하세요. My name is Peter. Iam from Totonto university in canada. 
                         I am 22 years old. i am studying business and i usually have classed at 58 dong in SNU.
                         i am interested in learning korean. i can read and write little of korean but i cannot speak and listen well. 
                         i want to find the language partner in snuexchang. i can teach english and i want to lean korean.
                         i hope to get your message so on.
                    </div>
            </div>
            <br><hr>

                  <!-- 평가한 내용 show -->
            <div class= "col-sm-3">
            <img src="/img/pe.jpg" class="img-rounded" style="width:100px; margin:auto 0;">    
            </div>
            <div class="col-sm-9">
                <div class="panel panel-warning">
                      <% @cc.each do |c| %>
                      <div class="panel-heading">
                          <h3 class="panel-title">
                           <%=@p.find(c.commenter_id).name %>
                          </h3>
                      </div>
                            <span class="star-rating small">
                               <% 1.upto(5) do |i| %>
                                  <% if i == c.score %>
                                      <i class="on"></i>
                                   <% else %>
                                       <i></i>
                                   <% end %>
                               <% end %>
                            </span>
                           <div class="panel-body"><%=c.content%></div>
                      <% end %>
                </div>
            </div>
                <br><br>
                
                <div class="col-md-12">
                    <hr>
                        <h3>후기 남기기</h3>
                <span class="star-rating small">
                      <input type="radio" name="rating" value="1"><i></i>
                      <input type="radio" name="rating" value="2"><i></i>
                      <input type="radio" name="rating" value="3"><i></i>
                      <input type="radio" name="rating" value="4"><i></i>
                      <input type="radio" name="rating" value="5"><i></i>
                </span>
                
                    <div class= "form-control", rows: "15"></div>
                    <div><input type="submit" class="btn btn-default pull right" value="덧글달기"></div>
                </div>
        </div>
    </div>
</div>
    