<div class="container">
  <div class="row">
    <h1 align="center">5 beautiful places to visit in Korea</h1>
    <hr>
    <div class="qanda">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <p style="white-space:pre-wrap">
          If you know Seoul as the only place to enjoy in Korea, you are totally missing. Because Seoul only takes up a mere 0.6 percent of South Korea's territory. Here are 5 beautiful must-visit places located in other 99.4 percent of Korea

          1. Seongsan Sunrise Peak (성산일출봉)
          </p>
          <img src="http://hankukfoods.com/files/attach/images/1279/054/001/167c7c623afdea3075e30ea57f802f29.jpg" width=500>
          <p style="white-space:pre-wrap">
          Seongsan Sunrise Peak is the majestic volcanic crater formed by volcanic eruptions 5,000 years ago on Jeju island. This is one of the places where most of the Koreans visit when they get to Jeju island. As a UNESCO world heritage site, the peak is best known for its magnificent sight of the sun rising over it. 


          2. Gwang-An Bridge (부산 광안대교)
          </p>

          <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR4E8opmRfx05yt7NYXFzjmMlIsGXelPfHcHAmBBDIPioWEJDbA" width=500>
          <p style="white-space:pre-wrap">
          This bridge, also known as the Diamond Bridge, connects Suyeong-gu and Haeundae- gu and offers astonishing view of mountains, beaches and night lights of Busan. anyone can enjoy the spectacular night view of the bridge from afar; its state-of-the-art lighting system allows an exterior lighting of over 100,000 colors.


          3. Boseong Green Tea Field (보성 녹차밭)
          </p>

          <img src="http://info.jjangu.pe.kr/board_images/life/0d7f455f6da0489fc632eea68db42ddb.jpg" width=500>
          <p style="white-space:pre-wrap">
           Boseong green tea field produces approximately 40 percent of Korea’s tea and you can easily see this green tea field in many Korean dramas and films which has played as beautiful natural backgrounds for producers. The spectacular view of seemingly stair-like tea field is the major reason many visitors stop by here. A green tea festival held every year May is also the recommendation for visitors.


           4. Royal Azalea Festival, Hwangmae Mountain (황매산 철쭉축제)
          </p>
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTSgYZ1kQ4M4wmgFfPPBIFqAeQCDx1SSHpTAlyjYquwoMBqu9ZDS9Ll9rFH" width=500>
          <p style="white-space:pre-wrap">
          Hwangmae Mountain is the highest peak in the Sobaek mountain range, and is covered by royal azalea blossoms every spring, which is magnificent, spectacular. I’m sure visiting Hwangmae Mountain in spring when all the flowers fully bloom would perfectly get rid of your daily stress!


          5. Haeundae Beach (해운대 해수욕장)
          </p>
          <img src="http://www.gaviota.kr/xe/files/attach/images/58/331/002/101124%ED%95%B4%EC%9A%B4%EB%8C%80010.jpg" width=500>
          <p style="white-space:pre-wrap">
           Hundreds of thousands of people hurriedly make their way to Haeundae Beach as their summer vacation gets started. You can see and feel the gorgeous view of Haeundae Beach and Hot guys and girls around the beach is just the additional enjoyment.
          </p>



        </div>
      </div>

      <div class="buttons pull-right">
      </div>




    </div>
  </div>
</div>

