<div class="container">
  <div class="row">
    <h1 align="center">10 TIPS FOR A FOREIGN EXCHANGE STUDENT</h1>
    <hr>
    <div class="qanda">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <p style="white-space:pre-wrap">
          1. Make friends at language camp.
          For many exchange programs, you may spend a few weeks at language camp with other exchange students before going to your host family. This is a time to make friends! I promise, these students will be your lifesavers on your fall breaks or long weekends. My favorite moments were being able to visit these guys when I wasn’t in school. Be social.

          2. Spend time with your host family.
          It’s easy to hide away in your room when you’re in a new environment stuck in a house with strangers. But take the courageous step and spend as much time as possible with them. If everyone is watching TV downstairs, go downstairs and watch TV. If the family goes to church on Sunday, go to church on Sunday. If your host mom asks if you want to go to the grocery store with her, go! You are in your host country to learn, and spending time with your host family is the best way to do it.

          3. Avoid the computer.
          Talking to your family and friends back home is essential, but not for hours a day. If you’re on the computer all day, you’re probably not speaking your host language or learning about the culture (which is why you are there!). It is too easy to feel inadequate or become jealous when you see friends back home posting photos together, or when other foreign exchange students are posting about their awesome new friends. Give yourself a computer limit and also limit the time you spend talking to your parents back home.

          4. Ask about the house rules.
          A common reason for tension between host parents and exchange students is not communicating each other’s expectations. Even if your host parents don’t tell you the rules, ask them–What is the curfew on weekdays and weekends? How does the wi-fi work? Are there rules about the computer? What can I eat out of the refrigerator? Can I invite friends over to the house? These questions might feel silly, but it’s better to know the rules upfront than three months into the exchange after breaking the rules and not knowing.

          5. Culture shock is real.
          You might be the most accepting person on the planet until you’re three months into your exchange and turn into a racist bigot. Culture shock is a cycle, especially during a 10-month exchange. Everything will be exciting and new at first, then it loses its charm a few months later, then you hate everyone around you a few months later, and then there’s a moment where it finally hits: hey, this isn’t so bad… this is great! The hardest time for any exchange student is generally October through December–the holiday months. Remember this, remember it is normal, remember you can do it and it will totally pay off.

          6. Be honest.
          Don’t let anger or sadness wallow up inside of you. Open up to your host parents and tell them how you feel. If you usually spend an hour to yourself after school to relax, let them know you need that time. If you’re having a hard time in school, tell your teacher you’re struggling with the language–more times than not, they will make an exception for you. If your host parents offended you at dinner, don’t let that stir up inside of you–let them know. You come from a completely different culture. This is a learning experience for everyone.

          7. Say yes to friend invites.
          Especially at the beginning when you’re the cool, new, exchange student. Say yes to everything (except drugs…)! Diskos, birthday parties, study sessions–if you say no a lot at the beginning, they’re least likely to keep asking you later on. It might not always be the best time ever like with your besties back home, but it’s all about experiencing a new culture and getting to know other people’s perspectives (and you need to get out of the house!).

          8. You’re going to look stupid and that’s okay.
          How can you not look stupid? You’re a 17-year-old speaking with an 8-year-old language proficiency. People will say to you, “He’s so cute,” or “Isn’t she adorable?” and you’ll want to throw a rock at them, but hey! You’re learning a different language! You are living in a different country! Be patient. Keep trying to speak the language. Let them laugh at you when you say “you taste good” instead of “you have good taste.” Be vulnerable and keep going. You’ve got this.

          9. Say thank you. A lot.
          We’re often so shy as foreign exchange students. We’re not fluent, we’re different than everyone else around, and sometimes our tongue just doesn’t want to speak the host language that day. But ALWAYS remember to say thank you to your host family. They’re doing a huge favor taking you in. Even if you’re shy, they need to know that you appreciate them or they will start to worry.

          10. It’s normal to feel weird when you come home.
          Culture shock keeps going, even when you’re back home. You might have a hard time speaking your native language or even articulating your experience. Your friends will ask, “How was Germany?” and you won’t know how to respond. “Good” doesn’t cover 10 months of anyone’s life. Your own country will give you culture shock, like your extremely loud friends, or the jokes people make. Give it a month of two and it will wear off. You are going to have so much fun!

          What did I miss, wanderlusters? What were important things for you during your foreign exchange?
          To those of you going on a foreign exchange, what are your most excited about? What are your concerns?
          </p>
        </div>
      </div>

      <div class="buttons pull-right">
      </div>




    </div>
  </div>
</div>

