// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rectangular {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    float: left;
}

